# Application ports
USER_APP_PORT=3100
ADMIN_APP_PORT=3101
PREVIEW_APP_PORT=3102
API_PORT=4100

# Application URLs
USER_APP_URL=https://sao-kentucky-sake-gotta.trycloudflare.com
ADMIN_APP_URL=https://mercury-parties-routing-pool.trycloudflare.com
API_URL=https://applies-previously-fonts-highest.trycloudflare.com
AUTHENTICATED_PREVIEW_APP_URL=https://sen-study-calculation-juvenile.trycloudflare.com

DAILY_NETWORK=dailyTestnet
DAILY_TESTNET_RPC_URL=https://rpc.testnet.dailycrypto.net
DAILY_TESTNET_CHAIN_ID=825
DAILY_TESTNET_EXPLORER_URL=https://explorer.testnet.dailycrypto.net
DAILY_NATIVE_SYMBOL=DLY
DAILY_NATIVE_DECIMALS=18

DAILY_MAINNET_RPC_URL=https://rpc.mainnet.dailycrypto.net
DAILY_MAINNET_CHAIN_ID=824
DAILY_MAINNET_EXPLORER_URL=https://explorer.dailycrypto.net

BLOCKCHAIN_NETWORK=sepolia

SEPOLIA_TESTNET_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
SEPOLIA_TESTNET_CHAIN_ID=11155111
SEPOLIA_TESTNET_EXPLORER_URL=https://sepolia.etherscan.io
SEPOLIA_NATIVE_SYMBOL=ETH
SEPOLIA_NATIVE_DECIMALS=18

DEPLOYER_PRIVATE_KEY=0000000000000000000000000000000000000000000000000000000000000000

DATABASE_URL=postgresql://daily:daily@localhost:5480/daily_identity
REDIS_URL=redis://localhost:6380
JWT_SECRET=SUPER_SECRET_REPLACE_ME_IN_PRODUCTION

GOOGLE_CLIENT_ID=510468953339-v8nrd8i8a4dsbl5q6hgk5k4vgpe5me61.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET_HERE
GOOGLE_REDIRECT_URI=https://applies-previously-fonts-highest.trycloudflare.com/storage/google/callback
